Q:1

In [7]:
a = 15 
b = 4
#Sum
print(a + b)
#Difference
print(a - b)
#Product
print(a * b)
#Division
print(a / b)
#Floor division
print(a // b)
#Modulus
print(a % b)

19
11
60
3.75
3
3

Q:2

In [12]:
num1 = 10 
num2 = 5.6 
num3 = 4.43
num4='23'
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>

In [15]:
#Integer to Float 
num1 = float(num1)
print(num1)
#Float to Integer
num2 = int(num2)
print(num2)
#Float to String
num3 = str(num3)
print(num3)
#String to Integer
num4 = int(num4)
print(num4)

10.0
5
4.43
23

In [14]:
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'int'>

Q:3

In [19]:
favorite_food = "Beef Biryani"
favorite_food

'Beef Biryani'

Q:4

In [20]:
apple = '22'
mangoes = 33

#first we change the type of variable apple into integer
apple = int(apple)
apple + mangoes

55

Q:5

In [21]:
Name = "Muhammad Bin Maqsood"
print(Name)
Age = 20
print(Age)

Muhammad Bin Maqsood
20

In [22]:
Age = Age + 1
Age

21

Q:6

In [24]:
a = 2
b = 1
c = 6
d = 3
#Add a and b
print(a + b)
#Subtract c and a
print(c - a)
#Multiply d and b
print(d * b)
#Divide c and d (float division)
print(c / d)
#Modulus of c divided by d
print(c % d)
#Square of (d + a)
print((d + a)**2)

3
4
3
2.0
0
25

Q:7

In [26]:
a = '2'
b = '11'
c = 6.3
#Convert a to integar and add c
a = int(a)
print(a + c)
#Convert b to float then multiply c
b = float(b)
print(b * c)
#Convert c to integer and then add c
c = int(c)
print(c + c)

8.3
69.3
12

Q:8

In [27]:
#In the year 2020
Age = 20
print(Age)
#Add 5 more year into the age
Age = Age + 5
print(Age)

20
25

Q:9

In [28]:
#Before given books to friend
Book = 12
print(Book)
#After given 4 books to friend
Book = 12 - 4
print(Book)

12
8

Q:10

In [31]:
#No of cookies baked 
Cookies = 5
print(Cookies)
#Total nunmber of cookies after baked 3 time in a day is
Cookies = Cookies * 3
print(Cookies)

5
15